body {
    margin: 40px;
  }
  .circle .tick {
    width: 50px;
    height: 50px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.14);
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
  }
  .circle #button {
    width: 50px;
    height: 50px;
    background: #fff;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    z-index: 1;
    border:1px solid #ececec;
    outline: 0;
  }
  .circle .tick:nth-child(1) {
    transform: rotate(36deg) translate(10px);
  }
  .circle .tick:nth-child(2) {
    transform: rotate(72deg) translate(25px);
  }
  .circle .tick:nth-child(3) {
    transform: rotate(108deg) translate(-25px);
  }
  .circle .tick:nth-child(4) {
    transform: rotate(144deg) translate(10px);
  }
  .circle .tick:nth-child(5) {
    transform: rotate(180deg) translate(25px);
  }
  .circle .tick:nth-child(6) {
    transform: rotate(216deg) translate(-25px);
  }
  .circle .tick:nth-child(7) {
    transform: rotate(252deg) translate(10px);
  }
  .circle .tick:nth-child(8) {
    transform: rotate(288deg) translate(25px);
  }
  .circle .tick:nth-child(9) {
    transform: rotate(324deg) translate(-25px);
  }
  .circle .tick:nth-child(10) {
    transform: rotate(360deg) translate(10px);
  }
  @mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
      @content; 
    }
    @-moz-keyframes #{$name} {
      @content;
    }
    @-ms-keyframes #{$name} {
      @content;
    }
    @keyframes #{$name} {
      @content;
    } 
  }
  @mixin transformVal($rotate-val,$scale-val,$translate-val) {
    transform: rotate($rotate-val) scale($scale-val) translate($translate-val);
  }
  $item-count: 10;
  @for $i from 1 through $item-count {
    .circle .transform-tick.tick:nth-of-type(#{$i}) {
    //-webkit-animation: animation-name 2s forwards;
    //animation: animation-name 2s forwards;
     -webkit-animation: keyframe-#{$i} 2s forwards;
      animation: keyframe-#{$i} 2s forwards;
    }
  }
  $angle: 360/$item-count;
  $rot: 0;
  @for $i from 1 through $item-count {
    $rot: $rot + $angle;
    @include keyframes(keyframe-#{$i}) {
      0% {
        //transform: rotate(36deg) scale(0.5)  translate(50px);
        @include transformVal($rot+deg,0.3,80px);
      }
      66% {
       //transform: rotate(36deg) scale(1.5)  translate(100px);
         @include transformVal($rot+deg,1.2,100px);
      }
      100% {
         //transform: rotate(36deg) scale(2)  translate(150px);
         @include transformVal($rot+deg,1.9,120px);
      }
    }
  }