@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
      @content; 
    }
    @-moz-keyframes #{$name} {
      @content;
    }
    @-ms-keyframes #{$name} {
      @content;
    }
    @keyframes #{$name} {
      @content;
    } 
  }
  @mixin transformVal($rotate-val,$scale-val,$translate-val) {
    transform: rotate($rotate-val) scale($scale-val) translate($translate-val);
  }
  
  .logo-item {
    width: 60px;
    height: 60px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.14);
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
  }
  .logo-item img {
    width: 58px;
  }
  .logo-item:nth-child(1) {
    transform: rotate(36deg) scale(1) translate(10px);
  }
  .logo-item:nth-child(2) {
    transform: rotate(72deg) scale(1) translate(25px);
  }
  .logo-item:nth-child(3) {
    transform: rotate(108deg) scale(1) translate(-25px);
  }
  .logo-item:nth-child(4) {
    transform: rotate(144deg) scale(1) translate(10px);
  }
  .logo-item:nth-child(5) {
    transform: rotate(180deg) scale(1) translate(25px);
  }
  .logo-item:nth-child(6) {
    transform: rotate(216deg) scale(1) translate(-25px);
  }
  .logo-item:nth-child(7) {
    transform: rotate(252deg) scale(1) translate(10px);
  }
  .logo-item:nth-child(8) {
    transform: rotate(288deg) scale(1) translate(25px);
  }
  .logo-item:nth-child(9) {
    transform: rotate(324deg) scale(1) translate(-25px);
  }
  .logo-item:nth-child(10) {
    transform: rotate(360deg) scale(1) translate(40px);
  }
  $item-count: 10;
  @for $i from 1 through $item-count {
    .logo-item-active:nth-of-type(#{$i}) {
    //-webkit-animation: animation-name 2s forwards;
    //animation: animation-name 2s forwards;
      -webkit-animation: keyframe-#{$i} 4s forwards;
      animation: keyframe-#{$i} 4s forwards;
    }
  }
  $angle: 360/$item-count;
  $rot: 0;
  @for $i from 1 through $item-count {
    $rot: $rot + $angle;
    @include keyframes(keyframe-#{$i}) {
      0% {
        //flower budding kind of animation
        //@include transformVal($rot+deg,1,10px);
        @include transformVal($rot+deg,0.3,60px);
      }
      56% {
        //transform: rotate(36deg) scale(1.5)  translate(100px);
          @include transformVal($rot+deg,1,100px);
      }
      80% {
        //transform: rotate(36deg) scale(1.5)  translate(100px);
          @include transformVal($rot+deg,1.6,105px);
      }
      100% {
          //transform: rotate(36deg) scale(2)  translate(150px);
          @include transformVal($rot+deg,1.8,120px);
      }
    }
  }
  .logo-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo-item-active:hover {
    background: #171af7;
  }
  
  /*** Remove transform for child ***/
  $angle: 360/$item-count;
  $rot: 0;
  @for $i from 1 through $item-count {
    $rot: $rot + $angle;
    .logo-item:nth-of-type(#{$i}) a,.logo-item:nth-of-type(#{$i}) img {
      -webkit-transform: rotate(-$rot+deg);
      transform: rotate(-$rot+deg) scale(1);
    }
  }
  .logo-item-active:hover a {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
  }
  .logo-center {
    -webkit-transition: all 0.5s ease-out;  
    transition: all 0.5s ease-out;
  }
  .logo-center {
    width: 50px;
    height: 50px;
    background: #fff;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    z-index: 1;
    outline: 0;
    opacity: 0;
  }
  .logo-center-active {
    //animation: name duration timing-function delay iteration-count direction fill-mode play-state;
    -webkit-animation: opacity-logo 2s ease-in 2s forwards;
    animation: opacity-logo 2s ease-in 2s forwards;
  }
  @keyframes opacity-logo {
    0% {
      opacity: 0;
    }
    56% {
        opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes opacity-logo {
    0% {
      opacity: 0;
    }
    56% {
        opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }