@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
      @content; 
    }
    @-moz-keyframes #{$name} {
      @content;
    }
    @keyframes #{$name} {
      @content;
    } 
  }
  @mixin transformVal($rotate-val,$scale-val,$translate-val) {
    -webkit-transform: rotate($rotate-val) scale($scale-val) translate($translate-val);
    -moz-transform: rotate($rotate-val) scale($scale-val) translate($translate-val);
    transform: rotate($rotate-val) scale($scale-val) translate($translate-val);
  }
  .infacom-wrapper {
    height: 600px;
    width: 600px;
    position: relative;
    margin: 0 auto;
    @media screen and (max-width: 768px) {
      width: 300px;
      height: 300px;
    }
  }
  .infacom-circle-logo-wrapper {
    border-radius: 100%;
    position: absolute;
    top: 40%;
    left: 40%;
  }
  .infacom-logo-item {
    width: 120px;
    height: 120px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.14);
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    @media screen and (max-width: 768px) {
      width: 65px;
      height: 65px;
    }
  }
  /*** Initial position of logos ***/
  $item-count: 10;
  $angle: 360/$item-count;
  $rot: 0;
  $icon-position: (1:10px, 2:25px, 3:-25px, 4:10px, 5:25px, 6:-25px, 7:10px, 8:25px, 9:-25px, 10:40px);
  @each $count, $node in $icon-position {
    $rot: $rot + $angle;
    .infacom-logo-item:nth-of-type(#{$count}) {
      -webkit-transform: rotate($rot+deg) scale(0.5) translate(#{$node});
      -moz-transform: rotate($rot+deg) scale(0.5) translate(#{$node});
      transform: rotate($rot+deg) scale(0.5) translate(#{$node});
      @media only screen and (max-width: 768px) { 
        -webkit-transform: rotate($rot+deg) scale(1) translate(95px);
        -moz-transform: rotate($rot+deg) scale(1) translate(110);
        transform: rotate($rot+deg) scale(1) translate(115px);
      }
    }
  }
   /*** Assign respective keyframe to respective logo ***/
  $item-count: 10;
  @for $i from 1 through $item-count {
    .infacom-logo-item-active:nth-of-type(#{$i}) {
      -webkit-animation: keyframe-#{$i} 4s 1s forwards;
      -moz-animation: keyframe-#{$i} 4s 1s forwards;
      animation: keyframe-#{$i} 4s 1s forwards;
      @media only screen and (max-width: 768px) {
        animation: none;
      }
    }
  }
  $item-count: 10;
  $angle: 360/$item-count;
  $rot: 0;
  $icon-position: (1:10px, 2:25px, 3:-25px, 4:10px, 5:25px, 6:-25px, 7:10px, 8:25px, 9:-25px, 10:40px);
  @for $i from 1 through $item-count {
      $rot: $rot + $angle;
      @include keyframes(keyframe-#{$i}) {
        56% {
            @include transformVal($rot+deg,0.5,195px);
            animation-timing-function: linear;
        }
        86% {
            @include transformVal($rot+deg,0.8,210px);
            animation-timing-function: ease-in-out;
        }
        100% {
            @include transformVal($rot+deg,1,215px);
        }
      }
  }
  /*** Remove transform for child ***/
  $angle: 360/$item-count;
  $rot: 0;
  @for $i from 1 through $item-count {
    $rot: $rot + $angle;
    .infacom-logo-item:nth-of-type(#{$i}) .infacom-logo-child, .infacom-logo-item:nth-of-type(#{$i}) .infacom-logo-hover {
      -webkit-transform: rotate(-$rot+deg) scale(1);
      -moz-transform: rotate(-$rot+deg) scale(1);
      transform: rotate(-$rot+deg) scale(1);
    }
  }
  .infacom-logo-item:hover .infacom-logo-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 10px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.75px;
  }
  /* To give margin values relative to div and make it consistent*/
  .infacom-logo-child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    // width: 120px;
    // height: 120px;
    width: 90px;
    height: 90px;
    margin: 12% auto;
    @media screen and (max-width: 768px) {
      width: 45px;
      height: 45px;
    }
  }
  .infacom-logo-name-img {
    margin-bottom: 10px;
  }
  .infacom-logo-name-img img {
    @media screen and (max-width: 768px) {
      width: 75%;
    }
  }
  .infacom-logo-name {
    text-align: center;
    width: 100%;
    color: #0e252e80;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 14px;
    opacity: 0;
    @media screen and (max-width: 768px) {
      font-size: 5px;
      line-height: 6px;
      opacity: 1;
    }
  }
  .infacom-logo-name-active {
    -webkit-animation: opacity-text 4s ease-in 1.5s forwards;
    -moz-animation: opacity-text 4s ease-in 1.5s forwards;
    animation: opacity-text 4s ease-in 1.5s forwards;
    @media only screen and (max-width: 768px) { 
      animation: none;
    }
  }
  .infacom-logo-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    @media screen and (max-width: 768px) {
      opacity: 1;
    }
  }
  .infacom-logo-center-active {
    -webkit-animation: opacity-logo 4s ease-in 1s forwards;
    -moz-animation: opacity-logo 4s ease-in 1s forwards;
    animation: opacity-logo 4s ease-in 1s forwards;
    @media only screen and (max-width: 768px) { 
      animation: none;
    }
  }
  /*** On hover of icon ***/
  .infacom-logo-hover {
    display: none;
  }
  .infacom-logo-cta {
    display: none;
  }
  .infacom-logo-item:hover .infacom-logo-name-img {
    display: none;
  }
  .infacom-logo-item:hover .infacom-logo-name {
    visibility: hidden;
  }
  .infacom-logo-item:hover .infacom-logo-hover {
    display: block;
    background: #171af7;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    @media only screen and (max-width: 768px) { 
      width: 65px;
      height: 65px;
    }
  }
  @include keyframes(opacity-logo) {
    0% {
      opacity: 0;
    }
    55% {
        opacity: 0.2;
    }
    85% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }
  @include keyframes(opacity-text) {
    0% {
      opacity: 0;
    }
    56% {
      opacity: 0;
    }
    86% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .infacom-logo-hover .infacom-arrow-right-white {
    margin-bottom: 3px;
    font-size: 14px;
  }
  /*** Left section ***/
  .infacom-hero-customer-text-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }
  .infacom-hero-customer-rte-heading h1 {
    font-size: 62px;
    line-height: 72px;
    margin-bottom: 0;
    @media only screen and (max-width: 768px) { 
      font-size: 32px;
      line-height: 42px;
    }
  }
  .infacom-hero-customer-rte-heading * {
    font-weight: 300;
    letter-spacing: normal;
  }
  
  